<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
    <head>
        <meta charset="utf-8">
        <title>Natilus Zone | Animales Exoticos </title>      
    </head>
    <body>
        <img class="fondoOla" src="{{ url_for('static',filename='imagenes/fondo1.jpg') }}"/>
        <div>   
                {% if not current_user.is_authenticated %}         
                <a href="{{ url_for('auth.login') }}" class="navbar-item">
                    Inicio
                </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.perfil') }}" class="navbar-item">
                    Perfil
                </a>
                {% endif %}
                {% if not current_user.is_authenticated %}          
                <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                    Registro
                </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                    Salir
                </a>
                {% endif %}            
            </div>
        
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <div class="social">        
            <div>
                <a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </body>
</html>





