{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alertMessa">
	{{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<script type="text/javascript" src="static/js/a81368914c.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
    <div class="login-content">			
        <p class="text">ESPECIE </p>		
    </div>
    <div class="form-group">
        <h3>Nombre</h3>
        <p>{{especie.nombre}}</p>
        <hr>
        <h3>Descripcion</h3>
        <p>{{especie.descripcion}}</p>
        <hr>
        <h3>Imagen</h3>
        <img class="img-profile rounded-circle"src="data:;base64,{{ imagen }}">
        <hr>
        
    </div>
</div>
{% endblock %}
<!--p>data:;base64,{{especie.imagen}}</p-->
<!--img class="img-profile rounded-circle"src="data:;base64,{{ especie.imagen }}"-->