{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alertMessa">
	{{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<script type="text/javascript" src="static/js/a81368914c.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
	<div class="login-content">			
			<h2 class="title">Bienvenido {{name}}</h2>
			<p class="text">REGISTRO DE ESPECIES</p>		
	</div>
	<div>
		<form method="POST" action="/perfil" enctype="multipart/form-data">
			<div class="form-group">               
				<input type="text" class="form-control form-control-user" id="especie"
					placeholder="Nombre Especie" name="especie" >             
			</div>
			<div class="form-group">               
				<input type="text" class="form-control form-control-user" id="nCientifico"
					placeholder="Nombre Cientifico" name="cientifico">             
			</div>
			<div class="form-group">               
				<input type="text" class="form-control form-control-user" id="ubicacion"
					placeholder="Ubicacion" name="ubicacion">             
			</div>
			<div class="form-group">               
				<textarea type="text" class="input-field textarea-field" id="descripcion"
				placeholder="Descripcion" name="descripcion">
				</textarea>             
			</div>
			IMAGEN
			<div class="form-group">               
				<input type="file" class="input is-fullwidth" id="imagen"
					placeholder="Imagen" name="imagen">             
			</div>
			<!--div class="form-group">               
				<input type="file" class="input is-fullwidth" id="audio"
					placeholder="Audio" name="audio">             
			</div-->

			<button class="btn btn-primary btn-user btn-block">Enviar registro</button>
		</form>

	</div>
</div>
{% endblock %}

